{% extends "base.html"%}

{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-6">
			<ul class="leftjumbo">
				<h2> <li> <span class="glyphicon glyphicon-check"> </span> Minimalistic </li> </h2>
				<h2> <li> <span class="glyphicon glyphicon-check"> </span> Easy Tracking </li> </h2>
				<h2> <li> <span class="glyphicon glyphicon-check"> </span> Export to Excel </li> </h2>
			</ul>
		</div>
		<div class="col-sm-6">
			<ul class="rightjumbo">
				<h2> <li> <span class="glyphicon glyphicon-check"> </span> Categories </li> </h2>
				<h2> <li> <span class="glyphicon glyphicon-check"> </span> Colorful </li> </h2>
				<h2> <li> <span class="glyphicon glyphicon-check"> </span> Anywhere Access  </li> </h2>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid text-center">
	<h5> What I have to </h5>
	<h2> To Do </h2>
	<div class="row feature-row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-th-large icons"></span>
			<h4> Minimalistic </h4>
			<p> Only To Do App </p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-ok icons"></span>
			<h4> Easy Tracking </h4>
			<p> Easily Track Tasks </p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-download-alt icons"></span>
			<h4> Export to Excel</h4>
			<p> Download Your Tasks </p>
		</div>
	</div>
	<div class="row feature-row">
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-tags icons"></span>
			<h4> Categories </h4>
			<p> Divide Tasks in Categories </p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-picture icons"></span>
			<h4> Colorful </h4>
			<p> Assign Colors To Categories </p>
		</div>
		<div class="col-sm-4">
			<span class="glyphicon glyphicon-edit icons"></span>
			<h4> Anywhere Access </h4>
			<p> Access Online From Anywhere </p>
		</div>
	</div>
</div>
<hr class="hr-saperator">
<div class="footer text-center">
	<h4> A Simple To-Do App, Built With Flask </h4>
	<p> <a href="https://github.com/veeshalsoni" style="color: #b60b0b"> Source Code </a> </p>
</div>
{% endblock %}